environments:
  production:
    values: []

---

releases:
  - name: kafka
    namespace: default
    chart: oci://registry-1.docker.io/bitnamicharts/kafka
    version: 28.0.4
    values: [kafka-values.yaml]
    set:
      - name: kraft.clusterId
        value: "{{ env "KAFKA_CLUSTER_ID" }}"