replicaCount: 1
mode: standalone

auth:
  rootUser: ""
  rootPassword: ""

persistence:
  enabled: true
  size: 10Gi

resources:
  requests:
    memory: 256Mi
    cpu: 100m
  limits:
    memory: 512Mi
    cpu: 250m

consoleIngress:
  enabled: true
  ingressClassName: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-http01
  hosts:
    - console.back.pufferfish.ru
  tls:
    - secretName: minio-console-tls
      hosts:
        - console.back.pufferfish.ru

ingress:
  enabled: true
  ingressClassName: nginx
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-http01
  hosts:
    - minio.back.pufferfish.ru
  tls:
    - secretName: minio-tls
      hosts:
        - minio.back.pufferfish.ru
