replicaCount: 1
mode: standalone

auth:
  rootUser: ""
  rootPassword: ""

persistence:
  enabled: true
  size: 10Gi

resources:
  requests:
    memory: 256Mi
    cpu: 100m
  limits:
    memory: 512Mi
    cpu: 250m

consoleIngress:
  enabled: false

ingress:
  enabled: false
